
/* ABOUT PROJECT SECTION */

#about .container{
    display: flex;
    margin-top: 20px;
    background-color: white;
    border-radius: 16px;
}

.about-text {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

#about h2 {
    margin-bottom: 0;
}

/* ABOUT MEMBERS */

#members-section .container {
    background-color: white;
    border-radius: 16px;
    margin-top: 20px;
}

#about-members-text {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

.members {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    margin: 0 0 20px 0;
} 

.member {
    background-color: white;
    flex: 1 1 300px;
    max-width: 440px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* https://www.w3schools.com/csS/css3_shadows_box.asp */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.member h2 {
    margin-bottom: 0;
}

.member p {
    text-align: center;
    margin-bottom: 0;
}

.member img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}

/* FOOTER */

footer {
    background-color: #578941;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer h2 {
    margin: 20px;
}

footer p {
    margin: 0 0 20px 0;
}