/* table section  */

#form,
#summary,
#entry-list-table {
    background-color: white;
    border-radius: 16px;
    padding: 1em;
}

.main-tracker {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .main-tracker {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "form summary"
      "table table";
  }

  #form {
    grid-area: form;
  }

  #summary {
    grid-area: summary;
  }

  #entry-list-table {
    grid-area: table;
  }

}

@media (min-width: 1400px) {
  .main-tracker {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "form summary table";
  }
}

/* DONUT CHART  */

.donut {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg); /* start circle at top */
}

.donut-ring {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3.5;
}

.donut-segment {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
}

.donut-productive {
  stroke: #578941; /* dark green */
}

.donut-unproductive {
  stroke: #2ecc71; /* light green */
}

.donut-text {
  text-anchor: middle;
  fill: #333;
  transform: rotate(90deg);
  dominant-baseline: middle;
}


.donut-labels {
  
  color: #333;
}

.donut-label {
  margin: 0.2rem 0;
}

.label-size {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.productive-color {
  background-color: #578941; /* dark green */
}

.unproductive-color {
  background-color: #2ecc71; /* light green */
}


@media(min-width: 87.5rem){
    .white_box_summary{
      height: 49rem;
    }
}

@media(max-width: 75rem){
    .white_box_form{
      height: 52rem;
    }
}




#website-entry-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.duration-labels {
  display: flex;
  gap: 1em;
}

.summary-label {
  /* border: 3px solid green; */
  padding: 1em;
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}