.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* BUTTON OVERALL */
/* not sure if idedelete ko ba or what */
button {
    background: #578941;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

/* HERO SECTION */

#hero {
    background: linear-gradient(rgba(115, 115, 115, 0.5), rgba(115,115,115,0.5)), url(../images/index-hero-bg.jpg);
    background-position: center;
    background-size: cover;
    min-height: 300px;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h3 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#hero h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 3.5rem;
}

#hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-button {
    padding: 10px 80px;
    font-size: medium;
}




/* OVERVIEW */

#overview .container{
    display: flex;
    margin-top: 20px;
    background-color: white;
    border-radius: 16px;
}

#overview img{
    width: 300px;
    height: auto;
    object-fit: cover;
}

.overview-text {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.overview-text h2 {
    margin-bottom: 0;
}

@media (max-width:768px) {
    #overview .container {
        flex-direction: column;
    }

    #overview img {
        width: 100%;
    }
}

/* bottom part (PAGE EXPLANATION + LINKS) */
#pages-section .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
}

.page-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    width: 32%;
    overflow: hidden;
}

@media (max-width: 768px) {
    #pages-section .container {
        flex-direction: column;
    }

    .page-item {
        width: 100%;
    }
}

.page-item img {
    width: 100%;
    height: auto;
}

.page-item h2 {
    margin: 20px auto 0 auto;
    font-size: 20px;
}

.page-item p {
    margin: 20px;
}

.page-button {
    padding: 0 20px;
    height: 40px;
    margin-top: 0;
    margin-bottom: 20px;
}


/* FOOTER */

footer {
    background-color: #578941;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer h2 {
    margin: 20px;
}

footer p {
    margin: 0 0 20px 0;
}